@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.heading {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 50px;
  font-weight: bolder;
  padding-bottom: 10px;
}

.action-btn {
  width: 200px;
  height: 50px;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.result-text {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 25px;
  line-height: 2.5rem;
}

.layout {
  margin-top: 10px;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 72px;
  background: #ffffff;
  box-shadow: 14px 14px 46px #e0e0e0, -14px -14px 46px #ffffff;
}

.result-image {
  margin-top: 20px;
  width: 350px;
  border: 5px solid transparent;
  border-image: url(border.png) 30% round;
  border-color: #629460;
}
